In [ ]:
x = 22
print(x)

In [ ]:
type(x)

In [ ]:
y = 'New day - new course!'
print(y)
type(y)

In [ ]:
y = 'The sun is shining, the birds are singing.'
Y = 'New day - new course!'
print(y, Y)

In [ ]:
x,y,z = 'Day', 'Month', 'Year'
print(x)
print(y)
print(z)
print(x,y,z)

In [ ]:
x = y = z = 'Multiple dog hunts'
print(x)
print(y)
print(z)
print(x,y,z)

In [ ]:
cars_dealership = ['Audi Q7', 'Skoda Fabia', 'VW Scirocco', 'Renault Clio V', 'Dacia Sandero']
a,b,c,d,e = cars_dealership # we can assign variables to list, or values from list to variables
print(a,b,c,d,e)
print(a)
print(b)
print(c)
print(d)
print(e)

#### Best practices to write variables

In [ ]:
#Camel Case

#Test Variable Case

testVariableCase = 'Fast Furious'

In [ ]:
#Pascal Case

#Test Variable Case

TestVariableCase = 'Fast Furious'

In [ ]:
#Snake Case

#Test Variable Case

test_variable_case = 'Fast Furious'

#### Practices that happens often, but not that good to use

In [ ]:
testvar = 'Fast Furious'
test_var = 'Fast Furious'
_test_var = 'Fast Furious'
testVar = 'Fast Furious'
Testvar = 'Fast Furious'
testVar2 = 'Fast Furious'

#### Practices that are INCORRECT, not to use

In [ ]:
2testVAR 'Fast Furious'
test-Var2 = 'Fast Furious'
test var = 'Fast Furious'
test,Var2 = 'Fast Furious'

In [ ]:
# adding str to str
x = "I like playing football" + " every day" +'.'
print(x)

In [ ]:
x = 'I like'
y = ' playing football'
z = ' every day.'
print(x+y+z)

In [ ]:
#can't add str to int, but can do it like that - by adding a comma
x = 'I like playing'
y = 3
print(x,y)

## Data Types
##### *Including numeric, sequence, set, boolean and dictionary*

In [ ]:
#int, float and complex numbers (Numeric)

type(12)
type(-12 +100)

In [ ]:
type(12 + 15.30)

In [ ]:
type(12 + 3j) #'j' is the only letter used for complex numbers!

In [ ]:
type(True) #boolean values
type(False)

In [ ]:
type(1>5)

In [ ]:
1>5

In [ ]:
# sequence types - strings, lists and tuples
'Single Quote'
"Double Quote"
multiline = """ 
I watched the movie that made me cry.
Why would she always needed to lie?
They won't eat aplles and never see trees,
Come see me naked I'm making you cheese.
""" # in triple quotes (multiline) you can use as many single or double quotes as you want. Just don't use triple quotes inside of another triple quotes...
print(multiline)
type(multiline)

In [ ]:
a = 'Hell is near...'
print(a[-4])
print(a[:7])
print(a[2:5])
a*3

In [ ]:
a+a

In [ ]:
#list - "[]" brackets stands for 'list' 
[1,2,3]

In [ ]:
['Cookie','Rookie','Spookie']

In [ ]:
['Bread', 8,['London','Washinghton'],False] #we can put any data types in list together

In [ ]:
some_words = ['Cookie','Rookie','Spookie']
some_words.append('Dookie') #this is how we add values to list
some_words

In [ ]:
some_words[1] = 'Low key'
some_words

In [ ]:
# list inside of list
nested_list = ['Bread', 8,['London','Washinghton'],False]
nested_list[2][0]

In [ ]:
#tuple
# is used when known that this data is never going to change
tuple_scoops = (1,2,3,2,1)
type(tuple_scoops)

In [ ]:
tuple_scoops[0]

In [ ]:
#set - doesn't have duplicates; is unordered, so doesn't have index

daily_pints = {1,2,3}
type(daily_pints)

In [ ]:
daily_pints_log = {1,4,4,5,6,5,8,31,30,12,19} #having unique values!
print(daily_pints_log)

In [ ]:
weekly_pints_log = {1,8,33,45,56,31,30,12,19,30,48,51}
print(weekly_pints_log)

In [ ]:
print(daily_pints_log | weekly_pints_log) # '|' (straight line) shows the unique values when comparing two sets

In [ ]:
print(daily_pints_log & weekly_pints_log) #shows values that matches in comparing sets

In [ ]:
print(daily_pints_log - weekly_pints_log) #shows values that don't match

In [ ]:
print(daily_pints_log ^ weekly_pints_log) #shows completely unique values - that are either in one of comparing sets

In [ ]:
#dictionaries - consist of 'Key/value' pairs; we can also add a list into it

dict_work = {'days': 'Monday, Wednesday, Friday','tasks to be done': 35, 'main stakeholders': ['IBM','PWC','ING']}
type(dict_work)

In [ ]:
dict_work

In [ ]:
dict_work.values()

In [ ]:
dict_work.keys()

In [ ]:
dict_work.items()

In [ ]:
dict_work['main stakeholders'] #we can call (take from, print) values that are assigned to a key in dictionary

In [ ]:
dict_work['main stakeholders'] = ['Xeno','PWC','IBM','BNP'] #we can update values inside the dictionary
dict_work

In [ ]:
dict_work.update({'Months': 'February, April, June',
'Migrations to complete': 145,
 'End-users departments to train': ['Finance', 'Controlling', 'Management', 'Workers']}) # 'update' function doens't replace or delete anything from the dict - it adds to existing

dict_work

In [ ]:
# to delete something - we delete key, and value will dissapear with it
del dict_work ['days']
dict_work